@charset "utf-8";

// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

header {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;

  #menu {
    height: 7.5vh;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin: 2.5vh 2.5vh 0 2.5vh;

    #navMobile {
      line-height: 7.5vh;
      height: 7.5vh;
      color: white;

      #navBars {
        cursor: pointer;
      }
    }

    #navElements {
      width: 100vw;
      display: none;
      position: absolute;
      z-index: 100;
      margin: 7.5vh 0 0 -2.5vh;

      a {
        display: block;
        line-height: 7.5vh;
        height: 7.5vh;
        text-align: center;
        text-decoration: none;
        background-color: $blue;
        color: white;
        font-size: 16px;

        &:hover {
          background-color: white;
          color: $blue;
          cursor: pointer;
          border-bottom: solid white 2.5px;
        }
      }

      #clickShow_1_2, #clickShow_2_2 {
        display: none;
        a {
          background-color: royalblue;
        }
      }
    }
  }
}

#some {
  line-height: 7.5vh;
}

#forside {
  height: 100vh;
  background-image: url("../images/forside.jpg");
  background-size: cover;
  background-position: center;

  #logo {
    width: 50vw;
    margin: auto;
    padding: 25vh 0 0 0;
  }
}

#om_jci {
  height: 150vh;
  margin: 10vh 2.5vw;
  h1 {
    text-align: center;
  }
}

#particles-js {
  background-color: $lightblue;
  height: 100vh;
  width: 100vw;
}

.eventoverskrift{
  text-align: center;
  font-size: 12pt;
  margin-top: 10%;
  margin-bottom: 5%;
}

//konkurrencer
.flex-konkurrencer{
  display: block;
}


.konkurrencer{
  margin-right: 17%;
  margin-left: 17%;
  font-size: 7pt;
}


.ssdb{
  margin-top: 10%;
  margin-bottom: 25%;

}

.konkurrencetekst{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10%;
}

.dgm{
  margin-top: 10%;
  margin-bottom: 25%;
}

//kongresser
.flex-kongresser{
  display: block;
}

.kongresser{
   margin-right: 17%;
   margin-left: 17%;
   font-size: 7pt;
 }

.kongrestekst{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10%;
}

.nationalkongres{
  margin-right: 17%;
  margin-left: 17%;
  font-size: 7pt;
}

.nationalkongrestekst{
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 10%;
}

.nationalkongres{
  margin-top: 10%;
  margin-bottom: 25%;
}

.kongresser{
  margin-top: 10%;

}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
  .eventoverskrift{
    text-align: center;
    font-size: 25pt;
    margin-top: 2%;
    margin-bottom: 5%;
  }

  //konkurrencer
  .flex-konkurrencer{
    display: flex;
    flex-direction: row;
  }

  .konkurrencer{
    margin-right: 12%;
    margin-left: 10%;
    font-size: 17pt;
  }

  .konkurrencetekst{
    width: 50%;
    margin-left: 5%;
    margin-right: 10%;
  }

  .ssdbbillede{
    width: 50%;
    margin-right: 3%;
  }

  .dgmbillede{
    width: 50%;
    margin-right: 3%;
  }
  .ssdb{
    margin-top: 2%;
    margin-bottom: -5%;
  }

  .dgm{
    margin-bottom: 8%;
  }

  //kongresser
  .flex-kongresser{
    display: flex;
    flex-direction: row;
  }

  .kongresser{
    margin-right: 12%;
    margin-left: 10%;
    font-size: 17pt;
  }

  .nationalkongres{
    margin-right: 12%;
    margin-left: 10%;
    font-size: 17pt;
  }

  .kongrestekst{
    width: 50%;
    margin-left: 5%;
    margin-right: 10%;
  }

  .nationalkongrestekst{
    width: 50%;
    margin-left: 5%;
    margin-right: 10%;
  }

  .kongresbillede{
    width: 50%;
    margin-right: 3%;
  }

  .nationalkongresbillede{
    width: 50%;
    margin-right: 3%;
  }
  .kongresser{
    margin-top: 2%;
    margin-bottom: -5%;
  }

  .nationalkongres{
    margin-bottom: 8%;
  }

}


@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}