* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif; }

body {
  margin: 0;
  max-width: 100vw;
  max-height: 100%;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1 {
  font-weight: bold;
  text-align: center; }

h2 {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  margin: 5vh 0; }

h3 {
  font-weight: normal; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style-position: inside; }

li {
  margin: 0; }

p {
  margin: 0;
  padding: 0; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

#particles-js {
  background-color: #006088;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: -1; }

#fejl404 {
  height: 33vh;
  width: 50vw;
  margin: 33vh auto;
  color: white; }
  #fejl404 h1 {
    margin: 5vh 2.5vw; }
  #fejl404 p {
    margin: 5vh auto;
    text-align: center; }
    #fejl404 p a {
      text-decoration: none;
      color: white; }
      #fejl404 p a:hover {
        color: #f37121; }

header {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  color: white;
  z-index: 1; }
  header #logoWeb {
    display: none; }
  header #menu {
    height: 7.5vh;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin: 2.5vh 2.5vh 0 2.5vh; }
    header #menu #navMobile {
      line-height: 7.5vh;
      height: 7.5vh;
      color: white; }
      header #menu #navMobile #navBars {
        cursor: pointer; }
    header #menu #navWeb {
      display: none; }
    header #menu #navElements {
      width: 100vw;
      display: none;
      position: absolute;
      z-index: 100;
      margin: 7.5vh 0 0 -2.5vh; }
      header #menu #navElements #click_1 {
        background-color: #0097d7; }
        header #menu #navElements #click_1:hover {
          background-color: white;
          color: #0097d7; }
      header #menu #navElements a {
        display: block;
        line-height: 7.5vh;
        height: 7.5vh;
        text-align: center;
        text-decoration: none;
        background-color: #0097d7;
        color: white;
        font-size: 14px; }
        header #menu #navElements a:hover {
          background-color: white;
          color: #0097d7;
          cursor: pointer; }
      header #menu #navElements #clickShow_1_2, header #menu #navElements #clickShow_2_2 {
        display: none; }
        header #menu #navElements #clickShow_1_2 a, header #menu #navElements #clickShow_2_2 a {
          background-color: #006088; }
          header #menu #navElements #clickShow_1_2 a:hover, header #menu #navElements #clickShow_2_2 a:hover {
            background-color: white;
            color: #006088; }

#header {
  background-color: rgba(0, 0, 0, 0.7); }

#subHeader {
  z-index: 1;
  display: none; }

.some {
  line-height: 7.5vh; }
  .some a {
    text-decoration: none;
    color: white; }
    .some a:hover {
      color: #0097d7; }

#forside {
  height: 100vh;
  background: url("../images/forside.jpg") no-repeat center;
  background-size: cover; }
  #forside #logo {
    width: 50vw;
    max-width: 300px;
    margin: auto;
    padding-top: 25vh; }
  #forside #tilbud_box {
    display: flex;
    justify-content: space-between;
    background-color: #0097d7;
    width: 66vw;
    height: 7.5vh;
    border-radius: 7.5vh;
    max-width: 300px;
    margin: 7.5vh auto;
    cursor: pointer;
    text-decoration: none; }
    #forside #tilbud_box:hover {
      background-color: white; }
      #forside #tilbud_box:hover p {
        color: #f37121; }
    #forside #tilbud_box p {
      margin-left: 2vw;
      line-height: 7.5vh;
      font-size: 14px;
      color: white;
      max-width: 300px;
      cursor: pointer; }
    #forside #tilbud_box button {
      height: 7.5vh;
      width: 7.5vh;
      background-color: #f37121;
      border: none;
      color: white;
      border-radius: 7.5vh;
      max-width: 300px;
      cursor: pointer;
      outline: none; }
  #forside #om_jci {
    margin-top: 35vh;
    height: 5vh; }

#om_jci_section {
  background-color: white;
  height: auto;
  padding: 5vh 0; }
  #om_jci_section h1 {
    margin-bottom: 5vh;
    text-align: center; }
  #om_jci_section article {
    display: block;
    margin: 0 5vh; }
    #om_jci_section article #front_flex_text p {
      margin-top: 5vh; }
    #om_jci_section article #front_flex_text ul {
      margin: 5vh 0; }
      #om_jci_section article #front_flex_text ul li {
        margin: 2.5vh; }
    #om_jci_section article #front_flex {
      display: none; }
      #om_jci_section article #front_flex #front_flex_1, #om_jci_section article #front_flex #front_flex_2, #om_jci_section article #front_flex #front_flex_3 {
        display: none; }

#medlem {
  padding-top: 5vh; }
  #medlem h1 {
    color: white;
    text-align: center; }
  #medlem article {
    height: auto; }
    #medlem article #medlem_flex_text {
      margin: 5vh; }
      #medlem article #medlem_flex_text p {
        color: white; }
      #medlem article #medlem_flex_text div #medlem_box {
        display: flex;
        justify-content: space-between;
        background-color: #0097d7;
        width: 66vw;
        height: 7.5vh;
        border-radius: 7.5vh;
        max-width: 300px;
        margin: 7.5vh auto;
        cursor: pointer;
        text-decoration: none; }
        #medlem article #medlem_flex_text div #medlem_box:hover {
          background-color: white; }
          #medlem article #medlem_flex_text div #medlem_box:hover p {
            color: #f37121; }
        #medlem article #medlem_flex_text div #medlem_box p {
          margin-left: 2vw;
          line-height: 7.5vh;
          font-size: 14px;
          color: white;
          max-width: 300px;
          cursor: pointer; }
        #medlem article #medlem_flex_text div #medlem_box button {
          height: 7.5vh;
          width: 7.5vh;
          background-color: #f37121;
          border: none;
          color: white;
          border-radius: 7.5vh;
          max-width: 300px;
          cursor: pointer;
          outline: none; }
    #medlem article #medlem_box_2 {
      background-color: #0097d7;
      height: 50vw;
      width: 100vw;
      border-radius: 100vw 100vw 0 0; }
      #medlem article #medlem_box_2 p {
        padding-top: 5vh;
        text-align: center;
        color: white; }

#hvem_er_vi {
  background-color: white;
  padding: 5vh;
  text-align: center; }
  #hvem_er_vi #hvem_er_vi_flex_1 div, #hvem_er_vi #hvem_er_vi_flex_2 div {
    margin: 0 5vw; }
  #hvem_er_vi img {
    height: 150px;
    width: 150px;
    margin: 5vh auto;
    border-radius: 150px; }

#partners h1 {
  margin: 5vh 5vw 2.5vh 5vw;
  text-align: center;
  color: white; }
#partners #partners_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  #partners #partners_flex #upper_hill, #partners #partners_flex #spar_nord, #partners #partners_flex #dit_slagelse {
    margin: 2.5vh auto;
    width: 250px; }
    #partners #partners_flex #upper_hill img, #partners #partners_flex #spar_nord img, #partners #partners_flex #dit_slagelse img {
      -webkit-filter: brightness(0) invert(1);
      filter: brightness(0) invert(1); }
      #partners #partners_flex #upper_hill img:hover, #partners #partners_flex #spar_nord img:hover, #partners #partners_flex #dit_slagelse img:hover {
        cursor: pointer;
        filter: none; }
    #partners #partners_flex #upper_hill p, #partners #partners_flex #spar_nord p, #partners #partners_flex #dit_slagelse p {
      color: white; }

#back_to_top {
  background-color: #f37121;
  height: 7.5vh;
  width: 7.5vh;
  color: white;
  border-radius: 7.5vh;
  line-height: 9vh;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px; }
  #back_to_top:hover {
    cursor: pointer; }

footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black; }
  footer p {
    margin: 5vh 2.5vw; }
  footer .some {
    margin: 4vh 2.5vw;
    line-height: 0; }

.vi-tilbyder_knapper {
  display: none; }

.vi-tilbyder_runde-billeder {
  display: block;
  margin: 30px auto;
  border-radius: 50%;
  width: 50%; }

.textbox {
  margin: auto;
  width: 80%;
  padding-bottom: 40px; }

#vi-tilbyder_generalt, #vi-tilbyder_kurser {
  color: white;
  width: 100%;
  padding-top: 15vh; }

#vi-tilbyder_uddannelser {
  padding-top: 5vh;
  background-color: white; }

#vi-tilbyder_kurser {
  padding-top: 10px;
  padding-bottom: 40px; }

.eventoverskrift {
  text-align: center;
  padding: 15vh 0 0; }

.flex-konkurrencer {
  display: block; }

.konkurrencer .konkurrencetekst {
  margin: 5vh; }
.konkurrencer .ssdb {
  background-color: white; }
  .konkurrencer .ssdb img {
    border-radius: 50%;
    margin: auto; }
  .konkurrencer .ssdb .ssdbbillede {
    padding: 0 5vh 5vh; }
.konkurrencer .dgm {
  color: white; }
  .konkurrencer .dgm img {
    border-radius: 50%;
    margin: auto; }
  .konkurrencer .dgm .dgmbillede {
    padding: 0 5vh 5vh; }

.kongresser {
  background-color: white; }
  .kongresser .flex-kongresser {
    display: block; }
    .kongresser .flex-kongresser .kongrestekst {
      margin: 5vh; }
    .kongresser .flex-kongresser .kongresbillede {
      padding: 0 5vh 5vh; }
      .kongresser .flex-kongresser .kongresbillede img {
        border-radius: 50%;
        margin: auto; }

.nationalkongres {
  color: white; }
  .nationalkongres a {
    text-decoration: none;
    color: white; }
    .nationalkongres a:hover {
      color: #f37121; }
  .nationalkongres .flex-kongresser .nationalkongrestekst {
    margin: 5vh; }
  .nationalkongres .flex-kongresser .nationalkongresbillede {
    padding: 0 5vh 5vh; }
    .nationalkongres .flex-kongresser .nationalkongresbillede img {
      margin: auto;
      border-radius: 50%; }

.flex-projektarbejde {
  display: block; }

.projektarbejde h1 {
  color: white; }

.projekttekst {
  margin: 5vh;
  color: white; }
  .projekttekst h2 {
    text-align: center; }
  .projekttekst a {
    text-decoration: none;
    color: white; }
    .projekttekst a:hover {
      color: #f37121; }

.projektbillede {
  padding: 0 5vh; }
  .projektbillede #projektbillede_2 {
    display: none; }
  .projektbillede img {
    border-radius: 50%;
    margin: 5vh auto; }

.sunset {
  background: url("../images/grangia.jpg") center;
  background-size: cover;
  height: 50vh;
  opacity: 0.8;
  text-align: center;
  color: white; }
  .sunset h1 {
    margin: 0 5vh;
    font-size: 24px;
    line-height: 50vh; }

#slideshow {
  margin: 5vh auto;
  position: relative;
  width: 75vw;
  height: 50vh;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  text-align: center; }
  #slideshow h2 {
    margin: 2.5vh; }
  #slideshow p {
    margin: 2.5vh 5vh; }

#slideshow > div {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px; }

.boks1, .boks2, .boks3 {
  background-color: #0097d7;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center; }

.fa-user, .fa-question, .fa-suitcase {
  color: white;
  text-align: center; }

.box1, .box2, .box3 {
  background-color: #0097d7;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 2.5vh auto;
  line-height: 160px; }

.flexgrangia {
  display: none; }

.infograngia {
  margin: 5vh; }
  .infograngia h3 {
    margin-bottom: 5vh;
    text-align: center; }
  .infograngia p {
    margin: 0 auto;
    width: 75vw; }

.overskriftmob {
  margin-top: 15vh;
  color: white; }
  .overskriftmob h1 {
    margin: 5vh 0; }
  .overskriftmob .tekstto {
    margin: 0 5vh; }

.overskriftweb {
  display: none; }

aside {
  display: flex;
  position: relative; }

.inputfarve {
  border: solid #0097d7;
  border-radius: 3px; }

.booking {
  width: 100%;
  height: 100%; }
  .booking .koncontainermob {
    text-align: center; }
  .booking .tekstilbokse {
    display: none; }
  .booking .koncontainerweb {
    display: none; }

textarea {
  resize: none; }

.billede {
  display: none; }

.billedetekst {
  display: none; }

#send_button {
  display: flex;
  justify-content: space-between;
  background-color: #0097d7;
  width: 66vw;
  height: 7.5vh;
  border-radius: 7.5vh;
  max-width: 300px;
  margin: 7.5vh auto;
  cursor: pointer;
  text-decoration: none; }
  #send_button:hover {
    background-color: white; }
    #send_button:hover p {
      color: #f37121; }
  #send_button p {
    margin-left: 2vw;
    line-height: 7.5vh;
    font-size: 14px;
    color: white;
    max-width: 300px;
    cursor: pointer; }
  #send_button button {
    height: 7.5vh;
    width: 7.5vh;
    background-color: #f37121;
    border: none;
    color: white;
    border-radius: 7.5vh;
    max-width: 300px;
    cursor: pointer;
    outline: none; }

#kontakt_footer {
  position: fixed;
  width: 100vw;
  bottom: 0; }

@media screen and (min-width: 768px) {
  #medlem article #medlem_box_2 {
    background-color: #0097d7;
    height: 50vw;
    width: 100vw;
    border-radius: 100vw 100vw 0 0; }
    #medlem article #medlem_box_2 p {
      font-size: 24px;
      text-align: center;
      color: white; }

  #hvem_er_vi #hvem_er_vi_flex_1, #hvem_er_vi #hvem_er_vi_flex_2 {
    display: flex;
    justify-content: center; }
    #hvem_er_vi #hvem_er_vi_flex_1 div, #hvem_er_vi #hvem_er_vi_flex_2 div {
      margin: 2.5vw; }
      #hvem_er_vi #hvem_er_vi_flex_1 div img, #hvem_er_vi #hvem_er_vi_flex_2 div img {
        margin: 2.5vw; }
      #hvem_er_vi #hvem_er_vi_flex_1 div p, #hvem_er_vi #hvem_er_vi_flex_2 div p {
        width: 200px; }

  .vi-tilbyder_knapper {
    height: 100vh;
    display: block;
    background-color: white;
    padding-top: 15vh; }
    .vi-tilbyder_knapper .vi-tilbyder_flex {
      display: flex;
      justify-content: space-around;
      width: 90%;
      margin: 15vh auto; }
      .vi-tilbyder_knapper .vi-tilbyder_flex .vi-tilbyder_knap1 {
        border-radius: 50%;
        text-decoration: none;
        width: 200px;
        height: 200px;
        line-height: 200px;
        color: white;
        text-align: center;
        background-color: #0097d7;
        margin: 5vh 0; }
        .vi-tilbyder_knapper .vi-tilbyder_flex .vi-tilbyder_knap1:hover {
          opacity: 0.8; }
      .vi-tilbyder_knapper .vi-tilbyder_flex .vi-tilbyder_knap2 {
        border-radius: 50%;
        text-decoration: none;
        width: 200px;
        height: 200px;
        line-height: 200px;
        color: white;
        text-align: center;
        background-color: #f37121;
        margin: 5vh 5vw; }
        .vi-tilbyder_knapper .vi-tilbyder_flex .vi-tilbyder_knap2:hover {
          opacity: 0.8; }
      .vi-tilbyder_knapper .vi-tilbyder_flex .vi-tilbyder_knap3 {
        border-radius: 50%;
        text-decoration: none;
        width: 200px;
        height: 200px;
        line-height: 200px;
        color: white;
        text-align: center;
        background-color: #006088;
        margin: 5vh 0;
        line-height: normal; }
        .vi-tilbyder_knapper .vi-tilbyder_flex .vi-tilbyder_knap3:hover {
          opacity: 0.8; }
        .vi-tilbyder_knapper .vi-tilbyder_flex .vi-tilbyder_knap3 div {
          margin: 75px auto; }

  .vi-tilbyder_runde-billeder {
    width: 50%; }

  #vi-tilbyder_generalt, #vi-tilbyder_kurser {
    padding-top: 30px; }
    #vi-tilbyder_generalt h1, #vi-tilbyder_kurser h1 {
      display: none; }

  .textbox {
    width: 75%; }

  .flex-kongresser, .flex-konkurrencer, .flex-projektarbejde {
    display: flex; }

  .konkurrencer .konkurrencetekst {
    width: 50vw; }
  .konkurrencer .ssdb img {
    margin: auto; }
  .konkurrencer .ssdb .ssdbbillede {
    width: 50vw;
    margin-top: 25vh;
    max-width: 400px; }
  .konkurrencer .dgm .dgmbillede {
    width: 50vw;
    margin-top: 15vh;
    max-width: 400px; }

  .kongresser .flex-kongresser, .nationalkongres .flex-kongresser {
    display: flex; }
    .kongresser .flex-kongresser .nationalkongresbillede, .kongresser .flex-kongresser .kongresbillede, .kongresser .flex-kongresser .nationalkongrestekst, .kongresser .flex-kongresser .kongrestekst, .nationalkongres .flex-kongresser .nationalkongresbillede, .nationalkongres .flex-kongresser .kongresbillede, .nationalkongres .flex-kongresser .nationalkongrestekst, .nationalkongres .flex-kongresser .kongrestekst {
      width: 50vw; }
    .kongresser .flex-kongresser .kongresbillede, .nationalkongres .flex-kongresser .kongresbillede {
      margin-top: 5vh; }
    .kongresser .flex-kongresser .nationalkongresbillede, .nationalkongres .flex-kongresser .nationalkongresbillede {
      margin-top: 15vh; }

  .projekttekst {
    width: 50vw; }

  .projektbillede #projektbillede_1 {
    margin-top: 5vh;
    max-width: 400px; }
  .projektbillede #projektbillede_2 {
    max-width: 400px;
    display: block; }
  .projektbillede img {
    width: 50vw;
    margin: 10vh auto; }

  #slideshow {
    display: none; }

  .flexgrangia {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 0 5vh 5vh; }

  .boks1, .boks2, .boks3 {
    margin: auto;
    line-height: 160px; }

  .overskriftmob {
    display: none; }

  .overskriftweb {
    margin-top: 15vh;
    display: block;
    text-align: center; }
    .overskriftweb h1 {
      margin: 5vh 0;
      color: white; }

  textarea {
    resize: none; }

  .booking {
    margin: 0 5vh 0 10vh;
    width: 50vw; }
    .booking .koncontainermob {
      display: none; }
    .booking .tekstilbokse {
      width: 70%;
      display: block;
      color: white; }
    .booking .koncontainerweb {
      display: block; }

  .billedeogtekst {
    width: 50vw;
    margin-right: 5vh; }
    .billedeogtekst .billede {
      display: block;
      margin-bottom: 5vh; }
      .billedeogtekst .billede img {
        width: 50vw;
        border-radius: 50%;
        max-width: 300px;
        margin: auto; }
    .billedeogtekst .billedetekst {
      display: block;
      width: 50vw;
      color: white; }
      .billedeogtekst .billedetekst p {
        text-align: center;
        margin: auto; }

  #send_button {
    margin: 5vh auto; } }
@media screen and (min-width: 992px) {
  #medlem article #medlem_flex_text div #medlem_box {
    display: flex;
    justify-content: space-between;
    background-color: #0097d7;
    width: 66vw;
    height: 7.5vh;
    border-radius: 7.5vh;
    max-width: 300px;
    margin: 7.5vh auto;
    cursor: pointer;
    text-decoration: none; }
    #medlem article #medlem_flex_text div #medlem_box:hover {
      background-color: white; }
      #medlem article #medlem_flex_text div #medlem_box:hover p {
        color: #f37121; }
    #medlem article #medlem_flex_text div #medlem_box p {
      margin-left: 2vw;
      line-height: 7.5vh;
      font-size: 14px;
      color: white;
      max-width: 300px;
      cursor: pointer; }
    #medlem article #medlem_flex_text div #medlem_box button {
      height: 7.5vh;
      width: 7.5vh;
      background-color: #f37121;
      border: none;
      color: white;
      border-radius: 7.5vh;
      max-width: 300px;
      cursor: pointer;
      outline: none; }

  .vi-tilbyder_knaptekst {
    font-size: 20px; }

  #vi-tilbyder_generalt, #vi-tilbyder_uddannelser, #vi-tilbyder_kurser {
    display: flex;
    justify-content: space-around; }

  #vi-tilbyder_generalt {
    padding-top: 0; }
    #vi-tilbyder_generalt img {
      margin-top: 20vh; }

  #vi-tilbyder_uddannelser, #vi-tilbyder_kurser {
    padding-top: 0; }
    #vi-tilbyder_uddannelser img, #vi-tilbyder_kurser img {
      margin-top: 10vh; }

  .vi-tilbyder_runde-billeder {
    order: 2;
    width: 40%;
    height: 50%;
    padding: 0;
    margin-top: 0; }

  .textbox {
    order: 1;
    width: 40%;
    margin-top: 20px; } }
@media screen and (min-width: 1200px) {
  header {
    display: flex; }
    header #logoWeb {
      display: block;
      height: 7.5vh;
      margin: 1.5vh 2vw 1.5vh 2vw; }
    header #menu {
      margin: 0; }
      header #menu #navMobile {
        display: none; }
      header #menu #navWeb {
        display: flex;
        justify-content: space-between; }
        header #menu #navWeb .onPage {
          background-color: #0097d7; }
          header #menu #navWeb .onPage:hover {
            background-color: white;
            color: #0097d7; }
        header #menu #navWeb a {
          height: 10vh;
          line-height: 10vh;
          width: 14.5vw;
          text-align: center;
          text-decoration: none;
          color: white;
          font-size: 20px; }
          header #menu #navWeb a:hover {
            background-color: #0097d7;
            cursor: pointer; }
      header #menu .some {
        margin: 2vh 0 0 2.5vw; }

  #subHeader {
    display: none;
    top: 10vh; }
    #subHeader #clickShowWeb_1_2 {
      background-color: #006088;
      display: none; }
      #subHeader #clickShowWeb_1_2 a {
        height: 10vh;
        line-height: 10vh;
        width: 33.3vw;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 14px; }
        #subHeader #clickShowWeb_1_2 a:hover {
          background-color: white;
          color: #006088;
          cursor: pointer; }
    #subHeader #clickShowWeb_2_2 {
      background-color: #006088;
      display: none; }
      #subHeader #clickShowWeb_2_2 a {
        height: 10vh;
        line-height: 10vh;
        width: 25vw;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 14px; }
        #subHeader #clickShowWeb_2_2 a:hover {
          background-color: white;
          color: #006088;
          cursor: pointer; }

  #om_jci_section article {
    display: flex; }
    #om_jci_section article #front_flex_text {
      width: 50vw; }
    #om_jci_section article #front_flex {
      width: 50vw;
      display: flex;
      flex-direction: column; }
      #om_jci_section article #front_flex #front_box_1 {
        display: block;
        background-color: #f37121;
        height: 400px;
        width: 400px;
        border-radius: 50%;
        line-height: 400px;
        margin-left: 7.5vw; }
        #om_jci_section article #front_flex #front_box_1 p {
          color: white;
          font-weight: bold;
          font-size: 32px;
          text-align: center; }
      #om_jci_section article #front_flex #front_box_2 {
        display: block;
        background-color: #0097d7;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        line-height: 200px;
        margin-left: 25vw; }
        #om_jci_section article #front_flex #front_box_2 p {
          color: white;
          font-weight: bold;
          font-size: 24px;
          text-align: center; }
      #om_jci_section article #front_flex #front_box_3 {
        display: block;
        background-color: #006088;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        line-height: 300px;
        margin: -5vh 0 0 7.5vw; }
        #om_jci_section article #front_flex #front_box_3 p {
          color: white;
          font-weight: bold;
          font-size: 28px;
          text-align: center; }

  #medlem article {
    display: flex; }
    #medlem article #medlem_flex_text {
      width: 50vw; }
    #medlem article #medlem_box_2 {
      margin: 5vh auto auto auto;
      background-color: #0097d7;
      height: 300px;
      width: 300px;
      border-radius: 300px; }
      #medlem article #medlem_box_2 p {
        padding-top: 5vh;
        text-align: center;
        color: white; }

  #partners #partners_flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row; } }

/*# sourceMappingURL=jci_slagelse.css.map */
