@charset "utf-8";
// Alt der gælder for mobil og højere

$blue: #0097d7;
$dark-blue: #006088;
$orange: #f37121;

@mixin tilbyder-box() {
  border-radius: 50%;
  text-decoration: none;
  width: 200px;
  height: 200px;
  line-height: 200px;
  color: white;
  text-align: center;
}

@mixin button() {
  display: flex;
  justify-content: space-between;
  background-color: $blue;
  width: 66vw;
  height: 7.5vh;
  border-radius: 7.5vh;
  max-width: 300px;
  margin: 7.5vh auto;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    background-color: white;

    p {
      color: $orange;
    }
  }

  p {
    margin-left: 2vw;
    line-height: 7.5vh;
    font-size: 14px;
    color: white;
    max-width: 300px;
    cursor: pointer;

  }

  button {
    height: 7.5vh;
    width: 7.5vh;
    background-color: $orange;
    border: none;
    color: white;
    border-radius: 7.5vh;
    max-width: 300px;
    cursor: pointer;
    outline: none;
  }
}

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0; // Ingen kanter i siden af browser
  max-width: 100vw;
  max-height: 100%;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

h1 {
  font-weight: bold;
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  margin: 5vh 0;
}

h3 {
  font-weight: normal;
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

#particles-js {
  background-color: $dark-blue;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: -1;
}

// Joachim - 404 Kode Start --------------------------

#fejl404 {
  height: 33vh;
  width: 50vw;
  margin: 33vh auto;
  color: white;

  h1 {
    margin: 5vh 2.5vw;
  }

  p {
    margin: 5vh auto;
    text-align: center;

    a {
      text-decoration: none;
      color: white;

      &:hover {
        color: $orange;
      }
    }
  }
}

// Joachim - 404 Kode Slut ---------------------------

// Joachim - Forside Kode Start ----------------------

header {
  width: 100vw;
  height: 10vh;
  position: fixed;
  top: 0;
  color: white;
  z-index: 1;

  #logoWeb {
    display: none;
  }

  #menu {
    height: 7.5vh;
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    margin: 2.5vh 2.5vh 0 2.5vh;

    #navMobile {
      line-height: 7.5vh;
      height: 7.5vh;
      color: white;

      #navBars {
        cursor: pointer;
      }
    }

    #navWeb {
      display: none;
    }

    #navElements {
      width: 100vw;
      display: none;
      position: absolute;
      z-index: 100;
      margin: 7.5vh 0 0 -2.5vh;

      #click_1 {
        background-color: $blue;

        &:hover {
          background-color: white;
          color: $blue;
        }
      }

      a {
        display: block;
        line-height: 7.5vh;
        height: 7.5vh;
        text-align: center;
        text-decoration: none;
        background-color: $blue;
        color: white;
        font-size: 14px;

        &:hover {
          background-color: white;
          color: $blue;
          cursor: pointer;
        }
      }

      #clickShow_1_2, #clickShow_2_2 {
        display: none;
        a {
          background-color: $dark-blue;

          &:hover {
            background-color: white;
            color: $dark-blue;
          }
        }
      }
    }
  }
}

#header {
  background-color: rgba(0, 0, 0, 0.7);
}

#subHeader {
  z-index: 1;
  display: none;
}

.some {
  line-height: 7.5vh;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      color: $blue;
    }
  }
}

#forside {
  height: 100vh;
  background: url("../images/forside.jpg") no-repeat center;
  background-size: cover;

  #logo {
    width: 50vw;
    max-width: 300px;
    margin: auto;
    padding-top: 25vh;

  }

  #tilbud_box {
    @include button;
  }

  #om_jci {
    margin-top: 35vh;
    height: 5vh;
  }
}

#om_jci_section {
  background-color: white;
  height: auto;
  padding: 5vh 0;

  h1 {
    margin-bottom: 5vh;
    text-align: center;
  }

  article {
    display: block;
    margin: 0 5vh;

    #front_flex_text {

      p {
        margin-top: 5vh;
      }

      ul {
        margin: 5vh 0;

        li {
          margin: 2.5vh;
        }
      }
    }

    #front_flex {
      display: none;
      #front_flex_1, #front_flex_2, #front_flex_3 {
        display: none;
      }
    }
  }
}

#medlem {
  padding-top: 5vh;



  h1 {
    color: white;
    text-align: center;
  }

  article {
    height: auto;

    #medlem_flex_text {
      margin: 5vh;

      p {
        color: white;
      }

      div {

        #medlem_box {
          @include button
        }
      }
    }

    #medlem_box_2 {
      background-color: $blue;
      height: 50vw;
      width: 100vw;
      border-radius: 100vw 100vw 0 0;

      p {
        padding-top: 5vh;
        text-align: center;
        color: white;
      }
    }
  }
}

#hvem_er_vi {
  background-color: white;
  padding: 5vh;
  text-align: center;

  #hvem_er_vi_flex_1, #hvem_er_vi_flex_2 {

    div {
      margin: 0 5vw;
    }
  }

  img {
    height: 150px;
    width: 150px;
    margin: 5vh auto;
    border-radius: 150px;
  }
}

#partners {

  h1 {
    margin: 5vh 5vw 2.5vh 5vw;
    text-align: center;
    color: white;
  }

  #partners_flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #upper_hill, #spar_nord, #dit_slagelse {
      margin: 2.5vh auto;
      width: 250px;

      img {
        -webkit-filter: brightness(0) invert(1);
        filter: brightness(0) invert(1);

        &:hover {
          cursor: pointer;
          filter: none;
        }
      }

      p {
        color: white;
      }
    }
  }
}

#back_to_top {
  background-color: $orange;
  height: 7.5vh;
  width: 7.5vh;
  color: white;
  border-radius: 7.5vh;
  line-height: 9vh;
  text-align: center;
  position: fixed;
  bottom: 20px;
  right: 20px;

  &:hover {
    cursor: pointer;
  }
}

footer {
  display: flex;
  justify-content: center;
  color: white;
  background-color: black;

  p {
    margin: 5vh 2.5vw;
  }

  .some {
    margin: 4vh 2.5vw;
    line-height: 0;
  }
}

// Joachim - Forside Kode Slut ----------------------

// Sabine - Vi Tilbyder Kode Start ------------------

.vi-tilbyder_knapper {
  display: none;
}

.vi-tilbyder_runde-billeder{
  display: block;
  margin: 30px auto;
  border-radius: 50%;
  width: 50%;
}

.textbox {
  margin: auto;
  width: 80%;
  padding-bottom: 40px;
}

#vi-tilbyder_generalt, #vi-tilbyder_kurser {
  color: white;
  width: 100%;
  padding-top: 15vh;


}

#vi-tilbyder_uddannelser {
  padding-top: 5vh;
  background-color: white;
}

#vi-tilbyder_kurser {
  padding-top:10px;
  padding-bottom: 40px;
}

// Sabine - Vi Tilbyder Kode Slut ------------------

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil

  // Joachim Kode Start ----------------------------

  #medlem {

    article {

      #medlem_box_2 {
        background-color: $blue;
        height: 50vw;
        width: 100vw;
        border-radius: 100vw 100vw 0 0;

        p {
          font-size: 24px;
          text-align: center;
          color: white;
        }
      }
    }
  }

  #hvem_er_vi {

    #hvem_er_vi_flex_1, #hvem_er_vi_flex_2 {
      display: flex;
      justify-content: center;

      div {
        margin: 2.5vw;

        img {
          margin: 2.5vw;
        }

        p {
          width: 200px;
        }
      }
    }
  }

  // Joachim Kode Slut ----------------------

  // Sabine - Vi Tilbyder Kode Start ------------------

  .vi-tilbyder_knapper {
    height: 100vh;
    display: block;
    background-color: white;
    padding-top: 15vh;

    .vi-tilbyder_flex {
      display: flex;
      justify-content: space-around;
      width: 90%;
      margin: 15vh auto;

      .vi-tilbyder_knap1 {
        @include tilbyder-box;
        background-color: $blue;
        margin: 5vh 0;

        &:hover {
          opacity: 0.8;
        }
      }

      .vi-tilbyder_knap2 {
        @include tilbyder-box;
        background-color: $orange;
        margin: 5vh 5vw;

        &:hover {
          opacity: 0.8;
        }
      }

      .vi-tilbyder_knap3 {
        @include tilbyder-box;
        background-color: $dark-blue;
        margin: 5vh 0;
        line-height: normal;

        &:hover {
          opacity: 0.8;
        }

        div {
          margin: 75px auto;
        }
      }
    }
  }

  .vi-tilbyder_runde-billeder {
    width: 50%;
  }
  #vi-tilbyder_generalt, #vi-tilbyder_kurser {
    padding-top: 30px;

    h1 {
      display: none;
    }
  }

  .textbox {
    width: 75%;
  }
  //UNDERSIDE - Vi tilbyder - Sabine SLUT ---------------------
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående

  #medlem {

    article {

      #medlem_flex_text {

        div {

          #medlem_box {

            @include button;
          }
        }
      }
    }
  }


  .vi-tilbyder_knaptekst {
    font-size: 20px;
  }

  #vi-tilbyder_generalt, #vi-tilbyder_uddannelser, #vi-tilbyder_kurser {
    display: flex;
    justify-content: space-around;
  }

  #vi-tilbyder_generalt {
    padding-top: 0;

    img {
      margin-top: 20vh;
    }
  }

  #vi-tilbyder_uddannelser, #vi-tilbyder_kurser {
    padding-top: 0;

    img {
      margin-top: 10vh;
    }
  }



  .vi-tilbyder_runde-billeder {
    order: 2;
    width: 40%;
    height: 50%;
    padding: 0;
    margin-top: 0;
  }

  .textbox {
    order: 1;
    width: 40%;
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende

  header {
    display: flex;

    #logoWeb {
      display: block;
      height: 7.5vh;
      margin: 1.5vh 2vw 1.5vh 2vw;
    }
    #menu {
      margin: 0;

      #navMobile {
        display: none;
      }

      #navWeb {
        display: flex;
        justify-content: space-between;

        .onPage {
          background-color: $blue;

          &:hover {
            background-color: white;
            color: $blue;
          }
        }

        a {
          height: 10vh;
          line-height: 10vh;
          width: 14.5vw;
          text-align: center;
          text-decoration: none;
          color: white;
          font-size: 20px;

          &:hover {
            background-color: $blue;
            cursor: pointer;
          }
        }
      }

      .some {
        margin: 2vh 0 0 2.5vw;
      }
    }
  }

  #subHeader {
    display: none;
    top: 10vh;

    #clickShowWeb_1_2 {
      background-color: $dark-blue;
      display: none;

      a {
        height: 10vh;
        line-height: 10vh;
        width: 33.3vw;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 14px;

        &:hover {
          background-color: white;
          color: $dark-blue;
          cursor: pointer;
        }
      }
    }

    #clickShowWeb_2_2 {
      background-color: $dark-blue;
      display: none;

      a {
        height: 10vh;
        line-height: 10vh;
        width: 25vw;
        text-align: center;
        text-decoration: none;
        color: white;
        font-size: 14px;

        &:hover {
          background-color: white;
          color: $dark-blue;
          cursor: pointer;
        }
      }
    }
  }

  #om_jci_section {

    article {
      display: flex;

      #front_flex_text {
        width: 50vw;
      }

      #front_flex {
        width: 50vw;
        display: flex;
        flex-direction: column;

        #front_box_1 {
          display: block;
          background-color: $orange;
          height: 400px;
          width: 400px;
          border-radius: 50%;
          line-height: 400px;
          margin-left: 7.5vw;

          p {
            color: white;
            font-weight: bold;
            font-size: 32px;
            text-align: center;
          }
        }

        #front_box_2 {
          display: block;
          background-color: $blue;
          height: 200px;
          width: 200px;
          border-radius: 50%;
          line-height: 200px;
          margin-left: 25vw;

          p {
            color: white;
            font-weight: bold;
            font-size: 24px;
            text-align: center;
          }
        }

        #front_box_3 {
          display: block;
          background-color: $dark-blue;
          height: 300px;
          width: 300px;
          border-radius: 50%;
          line-height: 300px;
          margin: -5vh 0 0 7.5vw;

          p {
            color: white;
            font-weight: bold;
            font-size: 28px;
            text-align: center;
          }
        }
      }
    }
  }

  #medlem {

    article {
      display: flex;

      #medlem_flex_text {
        width: 50vw;
      }

      #medlem_box_2 {
        margin: 5vh auto auto auto;
        background-color: $blue;
        height: 300px;
        width: 300px;
        border-radius: 300px;

        p {
          padding-top: 5vh;
          text-align: center;
          color: white;
        }
      }
    }
  }

  #partners {
    
    #partners_flex {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }
}

@media print {
  // Alt der gælder for print specifikt
}